<main class="app">

  <div class="search_wrapper">
    <input class="search" placeholder="Введите название, категорию услуги, ИНН или расчетный счет" type="text">
    <img alt="search" class="search_icon" src="./assets/IconSearch.svg">
  </div>

  <div class="cards">
    <div class="card">
      <div class="card_content">
        <img alt="arrow right" src="assets/main/home2.svg">
        <span>ЖКХ</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">

        <img alt="invoice" src="assets/main/business.svg">
        <span>Организациям</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="info" src="assets/main/money.svg">
        <span>Запрос денег</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="info" src="assets/main/internet.svg">
        <span>Интернет</span>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card_content">
        <img alt="arrow right" src="assets/main/phone.svg">
        <span>Оплатить мобильный телефон</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="invoice" src="assets/main/card.svg">
        <span>Перевести деньги</span>
      </div>
    </div>
  </div>

  <div class="cards">
    <div class="card">
      <div class="card_content">
        <img alt="arrow right" src="assets/main/arrowRightFill.svg">
        <span>Платежи</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="invoice" src="assets/main/invoice.svg">
        <span>Оплатить услуги</span>
      </div>
    </div>
    <div class="card">
      <div class="card_content">
        <img alt="info" src="assets/main/info.svg">
        <span>Все тарифы и лимиты</span>
      </div>
    </div>
  </div>

  <div class="services_wrapper">
    <div class="services_header">
      <h2>Услуги</h2>
      <a>Все услуги</a>
    </div>
    <div class="services">
      <div>
        <a href="#">
          <div><img alt="phone" src="assets/main/phone.svg"></div>
          <span>Мобильная связь</span>
        </a>
        <a href="#">
          <div><img alt="home" src="assets/main/home.svg"></div>
          <span>Комунальные услуги</span>
        </a>
        <a href="#">
          <div><img alt="internet" src="assets/main/internet.svg"></div>
          <span>Интернет</span>
        </a>
      </div>
      <div>
        <a href="#">
          <div><img alt="home" src="assets/main/education.svg"></div>
          <span>Образование</span>
        </a>
        <a href="#">
          <div><img alt="home" src="assets/main/card.svg"></div>
          <span>Погашение кредитов</span>
        </a>
        <a href="#">
          <div><img alt="home" src="assets/main/list.svg"></div>
          <span>Платеж по реквизитам</span>
        </a>
      </div>
    </div>
  </div>
</main>
